[submodule ".fzf"]
	path = .yadm_submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".yadm_submodules/fasd"]
	path = .yadm_submodules/fasd
	url = https://github.com/clvv/fasd.git
[submodule "/Users/cdg4/.yadm_submodules/zinit"]
	path = /Users/cdg4/.yadm_submodules/zinit
	url = https://github.com/zdharma/zinit.git
