[submodule ".fzf"]
	path = .yadm_submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".yadm_submodules/fasd"]
	path = .yadm_submodules/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".yadm_submodules/zplugin"]
	path = .yadm_submodules/zplugin
	url = https://github.com/zdharma/zplugin.git
